<link rel="stylesheet" href="public\css\footer.css">

<section id="lab_social_icon_footer">
  <!-- Include Font Awesome Stylesheet in Header -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="text-center center-block">
      <a href="https://www.youtube.com/channel/UCeXPGE-9FOb_c5sTiJPpBPQ?view_as=subscriber"><i id="social-fb" class="fa fa-youtube fa-3x social"></i></a>
      <a href="https://instagram.com/mergegaminginc?igshid=1wwz3zamekpo3"><i id="social-tw" class="fa fa-instagram fa-3x social"></i></a>
      <a href="mailto:email@mergegaming.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      <small style="float: right;">&copy; Copyright 2019, Merge Gaming</small>
      <small style="float: left;">Developed by: Alejandro Zuniga</small>
    </div>
  </div>
</section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
