<% include partials/header  %>
<link rel="stylesheet" href="public\css\about.css">

<!-- Page Content -->

<div class="container" id="pageContent">
<h1 style="color: white; font-family: 'Montserrat', sans-serif;   font-weight: bold; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; padding-top: 50px;">Meet The Team</h1>
  <div class="row" id="firstRow">
    <!-- Team Member 1 (Ali)-->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="public\images\IMG_2709.JPG" class="card-img-top" alt="..." height="375">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Ali </h5>
          <div class="card-text text-black-50">CEO</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
    <!-- Team Member 2 (Lorenzo)-->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="public\images\image0.jpeg" class="card-img-top" alt="..." height="375">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Lorenzo Aluning</h5>
          <div class="card-text text-black-50">CFO</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
    <!-- Team Member 3 (Alejandro)-->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="public\images\IMG_1586.JPG" class="card-img-top" alt="..." height="375">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Alejandro Zuniga</h5>
          <div class="card-text text-black-50">CTO</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <!-- 2nd Row -->

  <div class="row" id="secondRow">

    <!-- Team Member 4 (Yasin)-->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="public\images\wyzant profile picture.PNG" class="card-img-top" alt="..." height="375">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Yasin Hassan</h5>
          <div class="card-text text-black-50">Graphic Designer</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
    <!-- Team Member 5 (Mo) -->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="public\images\IMG_2702.JPG" class="card-img-top" alt="..." height="375">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Mo</h5>
          <div class="card-text text-black-50">Writer</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
    <!-- Team Member 6 (Mahmoud)-->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="public\images\IMG-0355.jpg" class="card-img-top" alt="..." height="375">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Mahmoud Hussain</h5>
          <div class="card-text text-black-50">Sales</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
  </div>
      <h1 style="color: white; font-family: 'Montserrat', sans-serif;   font-weight: bold; font-style: italic; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; padding-bottom: 10px; padding-top: 50px;" >Who Are We?</h1>

  <div class="container" id=#secondSection style="">
      <h3 style="color: white; font-family: 'Montserrat', sans-serif; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Merge is a lifestyle gaming brand that is focused on esports, gaming entertainment, and apparel. The goals Merge wants to achieve as an organization involve providing gaming entertainment to demographics interested in competitive gaming as well as general gaming video content. We also plan to care a lot about how our team of content creators and pro players are treated and paid. Many eSports organizations take advantage of their players and how they get paid however Merge plans to take care of our teams and make sure players are paid fairly.</h3>
  </div>

  <div style="padding-top: 50px; padding-bottom:40px;">

  </div>

  <h1 style="color: white;font-family: 'Montserrat', sans-serif; font-weight: bold; font-style: italic; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; padding-bottom: 10px">Why choose Merge Gaming?</h1>

<div class="container" style=" ">
  <h3 style="color: white; font-family: 'Montserrat', sans-serif; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">As a company, we have the players and audience best interest in mind. Merge will be the one stop shop for anyone interested in gaming media. Whether its competitive tournaments, or content creators making funny gaming videos, Merge will have everything you need.</h3>
</div>

<div style="padding-top: 50px;">

</div>

  <!-- /.container -->
</div>



<% include partials/footer %>
