<% include partials/header  %>
<link rel="stylesheet" href="public\css\about.css">

<!-- Page Content -->
<div class="container" id="pageContent">

  <h1>Meet the team</h1>

  <div class="row" id="firstRow">
    <!-- Team Member 1 (Ali)-->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="public\images\IMG_2709.JPG" class="card-img-top" alt="..." height="250" width="350">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Ali </h5>
          <div class="card-text text-black-50">CEO</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
    <!-- Team Member 2 (Lorenzo)-->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="..." height="250" width="350">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Lorenzo Aluning</h5>
          <div class="card-text text-black-50">CFO</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
    <!-- Team Member 3 (Alejandro)-->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="C:\Users\ajz22\Desktop\GMU\IMG_1586.JPG" class="card-img-top" alt="..." height="250" width="350">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Alejandro Zuniga</h5>
          <div class="card-text text-black-50">CTO</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <!-- 2nd Row -->

  <div class="row" id="secondRow">

    <!-- Team Member 4 (Yasin)-->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="..." height="250" width="350">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Yasin Hassan</h5>
          <div class="card-text text-black-50">Graphic Designer</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
    <!-- Team Member 5 (Mo) -->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="public\images\IMG_2702.JPG" class="card-img-top" alt="..." height="250" width="350">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Mo</h5>
          <div class="card-text text-black-50">Writer</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
    <!-- Team Member 6 (Mahmoud)-->
    <div class="col-lg-4">
      <div class="card border-0 shadow">
        <img src="public\images\IMG-0355.jpg" class="card-img-top" alt="..." height="250" width="350">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Mahmoud Hussain</h5>
          <div class="card-text text-black-50">Sales</div>
          <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content.""</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id=#secondSection>

    <h1>Who are we?</h1>

    <p id="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h1>Why choose Merge Gaming?</h1>

    <p id="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>
  <!-- /.container -->
</div>



<% include partials/footer %>
