<% include partials/header %>
<link rel="stylesheet" href="/public/css/landing.css">

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div id="content">
        <h1>Merge Gaming</h1>
        <h3>E-Sport Team with a Gamer Forward Facing Mentality</h3>
        <form class="" action="/about" method="get">
          <div class="form-group" id="button">
            <button class = "btn info">Learn More</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
