<% include partials/header  %>

<div class="container"">

<!-- row class give us grid system -->
  <div class="row">


      <h1 style="text-align: center; margin:70px auto;">Landing Page Demo</h1>

      <!-- In-line styling not recommended but will do for V1
      makes form smaller -->

      <div style="width: 30%; margin:30px auto; ">

                <form action="/about" method="get">

<!-- form-group class groups form items together and adds spacing -->
                  <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Learn More</button>
                  </div>
                </form>

      </div>

  </div>

</div>
