<% include partials/header  %>
<link rel="stylesheet" href="public\css\merch.css">

  <div class="container" id="page" style="padding-bottom: 50px;">

    <h1 style="color: white; font-family: 'Montserrat', sans-serif;   font-weight: bold; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; padding-bottom: 50px">Our Product Line</h1>

    <div class="row" id="firstRowMerch">

      <div class="col-lg-4">
        <div class="card border-0 shadow">
          <img src="public\images\pasted-image 0.png" class="card-img-top" alt="..." height="375">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Merge Gaming Shirt </h5>
              <div class="card-text text-black-50"> $50 </div>
            <div class="card-text text-black-50"> ────────────────</div>
            <p class="card-text">Top of the line material and swagger</p>
             <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card border-0 shadow">
          <img src="public\images\comingSoon.png" class="card-img-top" alt="..." height="350">
          <div class="card-body text-center">
            <h5 class="card-title mb-0"> Sample Product </h5>
              <div class="card-text text-black-50"> ∞ </div>
            <div class="card-text text-black-50"> ────────────────</div>
            <p class="card-text">Want something that isn't listed? Send us a message through our contact page</p>
             <a href="#" class="btn btn-primary">Buy Soon</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card border-0 shadow">
          <img src="public\images\comingSoon.png" class="card-img-top" alt="..." height="350">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Sample Product </h5>
              <div class="card-text text-black-50"> ∞ </div>
            <div class="card-text text-black-50"> ────────────────</div>
            <p class="card-text">Want something that isn't listed? Send us a message through our contact page</p>
             <a href="#" class="btn btn-primary">Buy Soon</a>
          </div>
        </div>
      </div>
    </div>


  </div>

<% include partials/footer %>
